.scroller {
  &::-webkit-scrollbar {
    display: block;
    overflow: hidden;
    width: 1px;
    background: transparent;

    &:horizontal {
      height: 1px;
    }
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-piece {
    background: transparent;
    &:start {
      background: transparent;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(180, 180, 180);
  }

  &::-webkit-scrollbar-corner {
    background: rgb(180, 180, 180);
  }
}